* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    background-color: #fff;
    max-height: 700px;
    margin: 10px 96px;
}

.main-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "sec1 sec1 sec1 sec1 sec1 sec1 sec1 sec1 sec2 sec2 sec2 sec2"
    "sec1 sec1 sec1 sec1 sec1 sec1 sec1 sec1 sec3 sec3 sec3 sec3";
    gap: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    grid-area: nav;
}

nav > ul {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    gap: 25px;
}

nav > ul li:hover {
    cursor: pointer;
    color: black;
    border-bottom: 3px black solid;
}

.sign-up {
    padding: 15px;
    background-color: #4A2424;
    color: #fff;
    border-radius: 50px;
}

.sec-1 {
    background-color: #4A2424;
    grid-area: sec1;
    color: #fff;
    padding: 30px;
    /* font-size: larger; */
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    height: 500px;
}

.sec-1  > img {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 50%;
    object-fit: cover;
}

.sec-1 > p {
    font-size: 40px;
}

span {
    display: block;
}

.sec-1 > div {
    background-color: #fff;
    color: #4A2424;
    width: fit-content;
    padding: 15px;
    border-radius: 50px;
    position: absolute;
    bottom: 10%;
}

.sec-1 > div:hover,
.sign-up:hover {
    cursor: pointer;
}

.sec-2 {
    background-color: #fab0ac;
    grid-area: sec2;
    padding: 25px;
    border-radius: 50px;
}

.sec-3 {
    background-color: #C3EAE5;
    grid-area: sec3;
    padding: 25px;
    border-radius: 50px;
}

ul {
    list-style: none;
}

